<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">

<head>
    {{ partial "head.html" . }}
    {{ if .Params.math }}
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']],
          processEscapes: true
        },
        options: {
          skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
        }
      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>
    {{ end }}
</head>

<body class="bg-gray-50 dark:bg-gray-950">
    {{ partial "nav.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}
</body>

</html>
